@import "palette";

// base
* {
    margin: 0;
    padding: 0;
}
html {
    font-family: "Noto Sans TC", sans-serif, 微軟正黑體, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1.5px;

    a {
        text-decoration: none;
    }
}

// self
.flex_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex_col {
    display: flex;
    flex-direction: column;
}
.n_display {
    display: none;
}

// style for JS
.noscroll {
    position: fixed;
    width: 100%;
}
.fixWindow {
    position: absolute;
    overflow-y: scroll;
    height: 100%;
}
