@import "palette";

#header {
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 45vw;
  font-weight: 300;
  letter-spacing: 2px;
  background-color: $thcolor1;

  // top_navbar ********************************
  #navbar_for_pc {
    z-index: 10;
    padding: 2.5vw 0;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      li {
        list-style: none;

        a {
          color: $textcolor;

          &:hover {
            padding-bottom: 5px;
            border-bottom: 2px solid $thcolor2_light;
          }
        }
      }
    }
  }

  #navbar_for_mobile {
    display: none;

    /* Style the navigation menu */
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;

    /* link list */
    #myLinks {
      display: none;
    }

    /* link list content */
    a {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;

      /* Style the hamburger menu */
      &.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }

      &:hover {
        cursor: pointer;
      }

    }
    
    /* Style the logo area */
    .active {
      background-color: $thcolor1;
      color: white;
    }
  }

  // header content ********************************
  .header_content {
    float: left;

    img {
      width: 55%;
    }

    .header_text {
      position: absolute;
      top: 7vw;
      left: 45vw;
      width: 55%;
      background-color: rgba($color: #333, $alpha: 0.9);

      .h1 {
        margin: 3vw 4vw;
        font-weight: 700;
        letter-spacing: 6px;
        font-style: italic;
        color: #fff;
        
        p {
          font-size: 2.5rem;
          margin: 1vw 0;
          
          span {
            font-size: 4.5rem;
            color: rgb(237, 247, 177);
            text-shadow: 3px 3px 5px rgb(43, 43, 43);
          }
        }
      }
    }
  }
}
