// color******************************************

$thcolor1: #16695b;
$thcolor1_light: #85b6ae;
$thcolor1_bright: #e7ffbb;
$thcolor2: #584636;
$thcolor2_mid: #a18d7c;
$thcolor2_light: #d8c5b5;
$textcolor: #fff;
$textcolor2: #333;