@media screen and (max-width: 1200px) and (min-width: 790px) {
  html {
    font-size: 14px;
  }
  html body #header .header_content img {
    width: 60%;
  }
  html body #header .header_content .header_text {
    position: absolute;
    top: 1vw;
    width: 55%;
  }
  html body #header .header_content .header_text .h1 {
    margin: 1%;
    margin-left: 5%;
  }
  html body #header .header_content .header_text .h1 p {
    font-size: 2rem;
  }
  html body #header .header_content .header_text .h1 p span {
    font-size: 3rem;
  }
  html body #main #content2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body #main #content2 .left {
    width: 100%;
  }
  html body #main #content2 .left .flex_row {
    margin-left: auto;
  }
  html body #main #content2 .right {
    width: 100%;
  }
  html body #main #content2 .right p {
    text-align: center;
    font-size: 3rem;
    margin-top: 3rem;
    margin-right: 0;
  }
  html body #main #content2 .right .flex_row {
    width: 68%;
    margin: auto;
  }
  html body #main #content3 .flex_row .works {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0.75rem;
    margin: 2rem 3.5rem;
  }
}

@media screen and (max-width: 789px) {
  html {
    font-size: 12px;
  }
  html body #header {
    background-color: #fff;
  }
  html body #header #navbar_for_pc {
    display: none;
  }
  html body #header #navbar_for_mobile {
    display: block;
    text-align: center;
  }
  html body #header #navbar_for_mobile li i {
    margin: 5vw auto;
  }
  html body #header .header_content {
    margin: 0;
    padding: 0;
    top: 30%;
    width: 100%;
    text-align: center;
  }
  html body #header .header_content img {
    display: none;
  }
  html body #header .header_content .header_text {
    position: static;
    width: 100%;
    padding: 1rem 0;
    margin: 0;
  }
  html body #header .header_content .header_text .h1 {
    margin: 1rem auto;
  }
  html body #header .header_content .header_text .h1 p {
    font-size: 3.5vw;
  }
  html body #main {
    top: 60vw;
  }
  html body #main #content1 {
    padding: 2rem 0 1rem 0;
  }
  html body #main #content1 .flex_row .left img {
    margin-left: -4rem;
  }
  html body #main #content1 .flex_row .right {
    margin: 1rem 0;
  }
  html body #main #content1 .flex_row .right .name {
    text-align: center;
  }
  html body #main #content1 .flex_row .right table {
    width: 85%;
    margin: auto;
  }
  html body #main #content1 .flex_row .right table tr td {
    padding: 0.5rem 0;
  }
  html body #main #content1 .flex_row .right .flex_row {
    width: 80%;
    margin: auto;
  }
  html body #main #content1 .flex_row .right .flex_row .traits {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }
  html body #main #content2 {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body #main #content2 .left {
    width: 100%;
  }
  html body #main #content2 .left .c2_title {
    margin: 10vw auto;
  }
  html body #main #content2 .right {
    margin-top: 10vh;
    width: 100%;
  }
  html body #main #content3 .flex_row .works {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0.75rem;
    margin: 2rem 3.5rem;
  }
  html body #main #content3 .flex_row .work_hide .clickoff {
    margin: 0;
  }
  html body #main #content3 .flex_row .work_hide p {
    margin: 1rem;
  }
  html body #main #content3 .flex_row .work_hide p:nth-child(2) {
    font-size: 1.5rem;
  }
  html body #main #content4 .c4_works {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 0;
  }
  html body #main #content4 .c4_works .c4_text {
    margin: 1rem;
  }
  html body #main #content4 .c4_works .flex_col {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 80%;
            flex: 1 1 80%;
    margin: 5rem 0;
  }
  html body #main #content4 .c4_works .flex_col img {
    width: 60%;
  }
  html body #main #content5 {
    margin: 0;
    margin-top: 4rem;
    height: 30rem;
    font-size: 14px;
    line-height: 2.5rem;
    background-color: #191438;
    background-size: 200%;
  }
  html body #main #content5 .bgc p {
    margin-left: 45%;
  }
  html body #main #content5 .bgc p:first-child {
    padding-top: 7rem;
  }
  html body #main #footer {
    height: 4.5rem;
    line-height: 4.5rem;
  }
}

@media screen and (max-width: 400px) {
  html body #main {
    top: 110vw;
  }
}
/*# sourceMappingURL=rwd.css.map */