@charset "UTF-8";
* {
  font-family: "Noto Sans TC", sans-serif, 微軟正黑體, Arial, sans-serif;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}

.bg {
  background-color: salmon;
}

.move_left {
  margin-left: -1rem;
}

.flex_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.n_display {
  display: none;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  font-weight: 300;
  letter-spacing: 2px;
  background-color: #16695b;
}

#header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 0.3rem;
}

#header ul .logo {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Kaushan Script", cursive;
  border-bottom: none;
  color: #f8e5d5;
}

#header ul li {
  list-style: none;
}

#header ul li a {
  color: #fff;
  text-decoration: none;
}

#header ul li a:hover {
  padding-bottom: 3px;
  border-bottom: 2px solid #d8c5b5;
}

#header .header_content {
  position: absolute;
  top: 6vw;
  left: 45%;
  text-shadow: 3px 5px 5px #868a7e;
}

#header .header_content .h1 {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 7px;
  font-style: italic;
  color: #e7ffbb;
  z-index: 1;
}

#header .header_content .h1 p {
  margin: 0.2rem;
}

#header .header_content .h1 p span {
  font-size: 5rem;
}

#header .header_content .h2 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 5px;
  font-style: italic;
  color: #e7ffbb;
  z-index: 1;
}

#header .header_content .h2 p {
  margin: 0.2rem;
}

#header .header_content .h2 p span {
  font-size: 5rem;
}

#header .header_bg {
  margin-top: 3vw;
  width: 65%;
  height: 90%;
  background-color: #16695b;
}

#header .pic1 {
  width: 100%;
  height: 90%;
  opacity: 0.5;
}

#main {
  position: relative;
  top: 100vh;
  left: 0;
}

#main #side_navbar {
  position: fixed;
  top: 30vh;
  left: 0;
  z-index: 999;
  text-align: center;
  letter-spacing: 2px;
  display: none;
}

#main #side_navbar p {
  width: 6rem;
  margin: 1rem 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  background-color: #16695b;
  border-radius: 0 10px 10px 0;
}

#main #side_navbar p:hover {
  padding-left: 1.5rem;
}

#main #side_navbar p a {
  color: #fff;
  text-decoration: none;
}

#main #content1 {
  width: 100%;
  height: 70vh;
  text-align: center;
  padding: 5rem 0;
  background-color: #f8f6f4;
}

#main #content1 .title {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 3px;
  padding-top: 1.5rem;
  color: #a18d7c;
}

#main #content1 .flex_row .left img {
  height: 40vh;
  margin-top: 3rem;
}

#main #content1 .flex_row .right {
  margin-left: 6rem;
}

#main #content1 .flex_row .right .name {
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 3px;
  padding-bottom: 1.7rem;
  color: #584636;
  border-bottom: 1px solid #a18d7c;
}

#main #content1 .flex_row .right table {
  text-align: left;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: #a18d7c;
  margin-top: 5rem;
}

#main #content1 .flex_row .right table tr {
  height: 2.2em;
}

#main #content1 .flex_row .right table tr td {
  padding-right: 3rem;
}

#main #content1 .flex_row .right .traits {
  margin: auto;
  padding: 0.5rem;
  font-weight: 500;
  margin-top: 2rem;
  border-radius: 5px 5px;
  background-color: #d8c5b5;
  color: #fff;
  -webkit-box-shadow: 2px 2px 3px #a18d7c;
          box-shadow: 2px 2px 3px #a18d7c;
}

#main #content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 90vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 2px solid #d8c5b5;
}

#main #content2 .c2_title {
  width: 6rem;
  height: 3rem;
  margin: 0.5rem 0;
  margin-left: auto;
  text-align: center;
  line-height: 3rem;
  letter-spacing: 2px;
  color: #333;
  font-weight: 300;
  background: rgba(216, 197, 181, 0.5);
}

#main #content2 .left {
  width: 50%;
}

#main #content2 .left .flex_row {
  width: 80%;
  margin: auto;
}

#main #content2 .left .flex_row .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #333;
  font-size: 1rem;
  text-align: left;
}

#main #content2 .left .flex_row .skill p {
  width: 25%;
}

#main #content2 .left .flex_row .skill .skill_bar_bg {
  background-color: #fff;
  width: 20%;
  min-width: 12rem;
  height: 2.5rem;
  border-radius: 50px 50px;
  margin: auto 2rem;
  text-align: center;
  line-height: 2.5rem;
  letter-spacing: 2px;
}

#main #content2 .left .flex_row .skill .skill_bar_high {
  background-color: #584636;
  color: #fff;
}

#main #content2 .left .flex_row .skill .skill_bar_mid {
  background-color: #a18d7c;
  color: #fff;
}

#main #content2 .left .flex_row .skill .skill_bar_low {
  background-color: #85b6ae;
  color: #fff;
}

#main #content2 .right {
  width: 50%;
  min-height: 100%;
  padding-bottom: 3rem;
  background-color: #d8c5b5;
}

#main #content2 .right .c2_title {
  width: 6rem;
  height: 3rem;
  margin: 0.5rem 0;
  margin-right: auto;
  text-align: center;
  line-height: 3rem;
  letter-spacing: 2px;
  color: #333;
  background: rgba(255, 255, 255, 0.5);
}

#main #content2 .right .flex_row {
  width: 80%;
  margin: auto;
}

#main #content2 .right .flex_row .license {
  background-color: #fff;
  color: #584636;
  width: 20rem;
  height: 5rem;
  font-size: 1.3rem;
  border-radius: 30px 30px;
  text-align: center;
  line-height: 5rem;
  margin: 0.5rem auto;
}

#main #content3 {
  width: 100%;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 3rem;
}

#main #content3 .works {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35%;
          flex: 1 1 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 2.5rem 2rem 5rem;
  border: 2px solid #85b6ae;
  background-color: #f8f6f4;
}

#main #content3 .works .works_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#main #content3 .works .works_bg:hover {
  background-color: rgba(238, 238, 238, 0.4);
}

#main #content3 .works .title {
  text-align: center;
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: #16695b;
  letter-spacing: 2px;
}

#main #content3 .works img {
  width: 80%;
  margin: auto;
}

#main #content3 .works p {
  text-align: left;
  margin-left: 5.5rem;
  font-weight: 500;
  color: #584636;
}

#main #content4 {
  width: 100%;
  height: 30rem;
  margin: 5rem 0;
  background-image: url(../images/contact.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

#main #content4 .bgc {
  width: 100%;
  height: 30rem;
  background-color: rgba(238, 238, 238, 0.5);
}

#main #content4 .bgc p {
  margin-left: 50%;
  color: #333;
  letter-spacing: 1px;
}

#main #content4 .bgc p:first-child {
  padding-top: 5rem;
}

#main #footer {
  width: 100%;
  height: 3.3rem;
  text-align: center;
  line-height: 3.3rem;
  font-size: 0.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  background-color: #16695b;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  #header {
    height: 70vh;
  }
  #header .header_content {
    position: absolute;
    top: 30vh;
    left: 15vw;
    text-align: center;
  }
  #header .header_content .h1 p {
    font-size: 3rem;
    margin: 0.2rem 0;
  }
  #header .header_content .h2 p {
    font-size: 3rem;
    letter-spacing: 3px;
    margin: 0.2rem 0;
  }
  #header .header_content .h2 p span {
    font-size: 3.5rem;
  }
  #header .header_bg {
    margin-top: 3vw;
    width: 100%;
    background-color: #16695b;
  }
  #main #content2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #main #content2 .left {
    width: 100%;
  }
  #main #content2 .left p {
    text-align: center;
    font-size: 3rem;
    margin-top: 3rem;
    margin-right: 0;
  }
  #main #content2 .left .flex_row {
    width: 68%;
    margin: auto;
  }
  #main #content2 .right {
    width: 100%;
  }
  #main #content2 .right p {
    text-align: center;
    font-size: 3rem;
    margin-top: 3rem;
    margin-right: 0;
  }
  #main #content2 .right .flex_row {
    width: 68%;
    margin: auto;
  }
}

@media screen and (max-width: 789px) and (min-width: 401px) {
  html {
    font-size: 12px;
  }
  #header {
    height: 50vh;
  }
  #header .header_content {
    position: absolute;
    top: 15vh;
    left: 15vw;
  }
}

@media screen and (max-width: 400px) {
  #header ul li {
    display: none;
  }
  #main #content1 .title {
    margin-top: 3rem;
  }
  #main #content1 .flex_row .left img {
    margin-left: -3rem;
    margin-bottom: -1rem;
  }
  #main #content1 .flex_row .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #main #content1 .flex_row .right .name {
    text-align: center;
  }
  #main #content1 .flex_row .right table {
    margin: 1rem 1rem;
    width: 100%;
    font-size: 0.8rem;
  }
  #main #content1 .flex_row .right table tr td:nth-child(1) {
    display: none;
  }
  #main #content1 .flex_row .right table tr td:nth-child(2)::before {
    content: "・ ";
  }
  #main #content1 .flex_row .right .flex_row {
    text-align: center;
  }
  #main #content1 .flex_row .right .flex_row .traits {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
    margin: 0.5rem auto;
  }
  #main #content2 .left p {
    font-size: 2rem;
  }
  #main #content2 .left .flex_row {
    width: 90%;
  }
  #main #content2 .left .flex_row .skill {
    margin: auto;
    width: 7.5rem;
    height: 7.5rem;
    line-height: 7.5rem;
    margin: 0.5rem 1rem;
  }
  #main #content2 .right p {
    font-size: 2rem;
    margin-left: 0;
  }
  #main #content2 .right .flex_row {
    width: 90%;
  }
  #main #content2 .right .flex_row .license {
    margin: auto;
    width: 7.5rem;
    height: 5.5rem;
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 2rem;
    margin: 0.5rem 1rem;
    padding-top: 2rem;
  }
}
/*# sourceMappingURL=style_c.css.map */