// base******************************************

* {
    font-family: "Noto Sans TC", sans-serif, 微軟正黑體, Arial, sans-serif;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
}

// self******************************************

$thcolor1: #16695b;
$thcolor1_light: #85b6ae;
$thcolor1_bright: #e7ffbb;
$thcolor2: #584636;
$thcolor2_mid: #a18d7c;
$thcolor2_light: #d8c5b5;
$textcolor: #fff;
$textcolor2: #333;

.bg {
    background-color: salmon;
}
.move_left {
    margin-left: -1rem;
}
.flex_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex_col {
    display: flex;
    flex-direction: column;
}
.n_display {
    display: none;
}

// each area*******************************************

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    font-weight: 300;
    letter-spacing: 2px;
    background-color: $thcolor1;
    // color: #756150;

    // top_navbar ********************************
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-top: 0.3rem;

        .logo {
            font-size: 1.8rem;
            font-weight: 500;
            // text-shadow: 4px 4px 3px #333;
            font-family: "Kaushan Script", cursive;
            border-bottom: none;
            color: #f8e5d5;
        }

        li {
            list-style: none;

            a {
                color: $textcolor;
                text-decoration: none;

                &:hover {
                    padding-bottom: 3px;
                    border-bottom: 2px solid $thcolor2_light;
                }
            }
        }
    }

    // header content ********************************
    .header_content {
        position: absolute;
        top: 6vw;
        left: 45%;
        text-shadow: 3px 5px 5px #868a7e;
        .h1 {
            font-size: 5rem;
            // font-family: "Kaushan Script", cursive;
            font-weight: 700;
            letter-spacing: 7px;
            font-style: italic;
            color: #e7ffbb;
            z-index: 1;
            p {
                margin: 0.2rem;

                span {
                    font-size: 5rem;
                }
            }
        }
        .h2 {
            font-size: 4rem;
            // font-family: "Kaushan Script", cursive;
            font-weight: 700;
            letter-spacing: 5px;
            font-style: italic;
            color: #e7ffbb;
            z-index: 1;
            p {
                margin: 0.2rem;
                span {
                    font-size: 5rem;
                }
            }
        }
    }
    .header_bg {
        margin-top: 3vw;
        width: 65%;
        height: 90%;
        // height: 78%;
        // margin: 1.5rem 0;
        background-color: $thcolor1;
    }
    .pic1 {
        width: 100%;
        height: 90%;
        opacity: 0.5;
        // margin-top: 4rem;
        // height: 65%;
        // padding-left: 6rem;
        // border: 1px solid #fff;
        // border-left: none;
    }
}

#main {
    position: relative;
    top: 100vh;
    left: 0;

    // side navber ********************************
    #side_navbar {
        position: fixed;
        top: 30vh;
        left: 0;
        z-index: 999;
        text-align: center;
        letter-spacing: 2px;
        display: none;

        p {
            width: 6rem;
            margin: 1rem 0;
            padding: 0.5rem 0.5rem 0.5rem 0;
            background-color: $thcolor1;
            border-radius: 0 10px 10px 0;

            &:hover {
                padding-left: 1.5rem;
            }

            a {
                color: $textcolor;
                text-decoration: none;
            }
        }
    }

    // personal infomation ********************************
    #content1 {
        width: 100%;
        height: 70vh;
        text-align: center;
        padding: 5rem 0;
        background-color: #f8f6f4;

        .title {
            font-size: 1.5rem;
            font-weight: 700;
            letter-spacing: 3px;
            padding-top: 1.5rem;
            color: $thcolor2_mid;
        }

        .flex_row {
            // margin-top: 2rem;

            .left {
                img {
                    height: 40vh;
                    margin-top: 3rem;
                }
            }
            .right {
                margin-left: 6rem;
                .name {
                    font-size: 1.7rem;
                    font-weight: 700;
                    letter-spacing: 3px;
                    padding-bottom: 1.7rem;
                    color: $thcolor2;
                    border-bottom: 1px solid $thcolor2_mid;
                }

                table {
                    text-align: left;
                    font-size: 1rem;
                    font-weight: 300;
                    letter-spacing: 1px;
                    color: $thcolor2_mid;
                    margin-top: 5rem;
                    tr {
                        height: 2.2em;
                        td {
                            padding-right: 3rem;
                        }
                    }
                }

                .traits {
                    margin: auto;
                    padding: 0.5rem;
                    font-weight: 500;
                    margin-top: 2rem;
                    border-radius: 5px 5px;
                    background-color: $thcolor2_light;
                    color: $textcolor;
                    box-shadow: 2px 2px 3px $thcolor2_mid;
                }
            }
        }
    }

    // skill and license ********************************

    #content2 {
        display: flex;
        width: 100%;
        min-height: 90vh;
        // padding-bottom: 2rem;
        flex-direction: row;
        border: 2px solid $thcolor2_light;

        .c2_title {
            width: 6rem;
            height: 3rem;
            margin: 0.5rem 0;
            margin-left: auto;
            text-align: center;
            line-height: 3rem;
            letter-spacing: 2px;
            color: $textcolor2;
            font-weight: 300;
            background: rgba($color: $thcolor2_light, $alpha: 0.5);
        }

        .left {
            width: 50%;

            .flex_row {
                width: 80%;
                margin: auto;

                .skill {
                    display: flex;
                    flex: 1 1 100%;
                    justify-content: center;
                    color: $textcolor2;
                    font-size: 1rem;
                    text-align: left;

                    p {
                        width: 25%;
                    }

                    .skill_bar_bg {
                        background-color: $textcolor;
                        width: 20%;
                        min-width: 12rem;
                        height: 2.5rem;
                        border-radius: 50px 50px;
                        margin: auto 2rem;
                        text-align: center;
                        line-height: 2.5rem;
                        letter-spacing: 2px;
                    }
                    .skill_bar_high {
                        background-color: $thcolor2;
                        color: $textcolor;
                    }
                    .skill_bar_mid {
                        background-color: $thcolor2_mid;
                        color: $textcolor;
                    }
                    .skill_bar_low {
                        background-color: $thcolor1_light;
                        color: $textcolor;
                    }
                }
            }
        }
        .right {
            width: 50%;
            min-height: 100%;
            padding-bottom: 3rem;
            background-color: $thcolor2_light;

            // p {
            //     text-align: left;
            //     font-size: 1.5rem;
            //     font-weight: 700;
            //     letter-spacing: 2px;
            //     color: $textcolor;
            //     margin-left: 2rem;
            //     // margin-top: 3rem;
            // }
            .c2_title {
                width: 6rem;
                height: 3rem;
                margin: 0.5rem 0;
                margin-right: auto;
                text-align: center;
                line-height: 3rem;
                letter-spacing: 2px;
                color: $textcolor2;
                background: rgba($color: $textcolor, $alpha: 0.5);
            }
            .flex_row {
                width: 80%;
                margin: auto;

                .license {
                    background-color: $textcolor;
                    color: $thcolor2;
                    width: 20rem;
                    height: 5rem;
                    font-size: 1.3rem;
                    border-radius: 30px 30px;
                    text-align: center;
                    line-height: 5rem;
                    margin: 0.5rem auto;
                }
            }
        }
    }

    // Works view ******************************************
    #content3 {
        width: 100%;
        min-height: 80vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 3rem;

        .works {
            position: relative;
            flex: 1 1 35%;
            display: flex;
            flex-direction: column;
            margin: 2rem 2.5rem 2rem 5rem;
            border: 2px solid $thcolor1_light;
            background-color: #f8f6f4;

            .works_bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                &:hover {
                    background-color: rgba($color: #eee, $alpha: 0.4);
                }
            }

            .title {
                text-align: center;
                margin: 1rem 0;
                font-size: 1.2rem;
                font-weight: 500;
                color: $thcolor1;
                letter-spacing: 2px;
            }
            img {
                width: 80%;
                margin: auto;
            }
            p {
                text-align: left;
                margin-left: 5.5rem;
                font-weight: 500;
                color: $thcolor2;
            }
        }
    }
    // contact me ******************************************
    #content4 {
        width: 100%;
        height: 30rem;
        margin: 5rem 0;
        background-image: url(../images/contact.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;

        .bgc {
            width: 100%;
            height: 30rem;
            background-color: rgba($color: #eee, $alpha: 0.5);
            p {
                margin-left: 50%;
                color: $textcolor2;
                letter-spacing: 1px;

                &:first-child {
                    padding-top: 5rem;
                }
            }
        }
    }

    // footer ******************************************
    #footer {
        width: 100%;
        height: 3.3rem;
        text-align: center;
        line-height: 3.3rem;
        font-size: 0.5rem;
        font-weight: 300;
        letter-spacing: 1px;
        background-color: $thcolor1;
        color: $textcolor;
    }
}

// RWD **************************************************************
// RWD 1200-790******************************************************
@media screen and (max-width: 1200px) {
    #header {
        height: 70vh;

        .header_content {
            position: absolute;
            top: 30vh;
            left: 15vw;
            text-align: center;
            .h1 {
                p {
                    font-size: 3rem;
                    margin: 0.2rem 0;
                }
            }
            .h2 {
                p {
                    font-size: 3rem;
                    letter-spacing: 3px;
                    margin: 0.2rem 0;
                    span {
                        font-size: 3.5rem;
                    }
                }
            }
        }
        .header_bg {
            margin-top: 3vw;
            width: 100%;
            background-color: $thcolor1;
        }
    }
    #main {
        #content2 {
            display: flex;
            flex-direction: column;

            .left {
                width: 100%;

                p {
                    text-align: center;
                    font-size: 3rem;
                    margin-top: 3rem;
                    margin-right: 0;
                }
                .flex_row {
                    width: 68%;
                    margin: auto;
                }
            }
            .right {
                width: 100%;

                p {
                    text-align: center;
                    font-size: 3rem;
                    margin-top: 3rem;
                    margin-right: 0;
                }
                .flex_row {
                    width: 68%;
                    margin: auto;
                }
            }
        }
    }
}

// RWD 789-401 *****************************************************
@media screen and (max-width: 789px) and (min-width: 401px) {
    html {
        font-size: 12px;
    }
    #header {
        height: 50vh;

        .header_content {
            position: absolute;
            top: 15vh;
            left: 15vw;
        }
    }
}

// RWD 400 down *****************************************************
@media screen and (max-width: 400px) {
    #header {
        ul {
            li {
                display: none;
            }
        }
    }
    #main {
        #content1 {
            .title {
                margin-top: 3rem;
            }
            .flex_row {
                .left {
                    img {
                        margin-left: -3rem;
                        margin-bottom: -1rem;
                    }
                }
                .right {
                    display: flex;
                    flex-direction: column;

                    .name {
                        text-align: center;
                    }
                    table {
                        margin: 1rem 1rem;
                        width: 100%;
                        font-size: 0.8rem;

                        tr {
                            td:nth-child(1) {
                                display: none;
                            }
                            td:nth-child(2)::before {
                                content: "・ ";
                            }
                        }
                    }
                    .flex_row {
                        text-align: center;

                        .traits {
                            flex: 0 1 30%;
                            margin: 0.5rem auto;
                        }
                    }
                }
            }
        }

        #content2 {
            .left {
                p {
                    font-size: 2rem;
                }
                .flex_row {
                    width: 90%;

                    .skill {
                        margin: auto;
                        width: 7.5rem;
                        height: 7.5rem;
                        line-height: 7.5rem;
                        margin: 0.5rem 1rem;
                    }
                }
            }
            .right {
                p {
                    font-size: 2rem;
                    margin-left: 0;
                }
                .flex_row {
                    width: 90%;

                    .license {
                        margin: auto;
                        width: 7.5rem;
                        height: 5.5rem;
                        font-size: 1rem;
                        letter-spacing: 2px;
                        line-height: 2rem;
                        margin: 0.5rem 1rem;
                        padding-top: 2rem;
                    }
                }
            }
        }
    }
}
